$font-url : 'https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sue+Ellen+Francisco&display=swap';

:root {
    --tp-font-heading: "Fraunces", serif;
    --tp-font-body: "Inter", sans-serif;
    --tp-font-sub-heading: "Sue Ellen Francisco", cursive;
}

 