@use '../../utils/' as *;

.tp-cta-img{
    right: 43px;
    bottom: 0;
    &-2{
        right: 5px;
        left: 0;
        & img{
            mix-blend-mode: luminosity;
        }
    }
}

.tp-help{
    &-list{
        & span{
            width: 26px;
            height: 26px;
            border-radius: 20px;
            background: rgba(248, 243, 231, 0.1);
            display: inline-block;
            color: #F8F3E7;
            text-align: center;
            font-size: 12px;
            margin-right: 10px;
        }
        & p{
            font-size: 16px;
            color: #F8F3E7;
            margin: 0;
            font-weight: 500;
        }
    }
    &-amount{
        & h4{
            color: #F8F3E7;
            font-size: 20px;
            letter-spacing: -0.8px;
            margin-bottom: 0;
        }
    }
    &-btn{
        padding: 21px 34px;
        border-radius: 0px 0px 12px 0;
    }
}

.tp-br-top-bottom-left{
    border-radius: 12px 0 0 12px;
}
.tp-br-top-bottom-right{
    border-radius: 0 12px 12px 0;
}