@use '../../utils/' as *;


.tp-hero{
    &-area{
        padding-top: 285px;
        padding-bottom: 340px;
    }
    & span{
        font-size: 50px;
        color: var(--tp-theme-color);
        line-height: 1;
    }
    &-title{
        font-size: 120px;
        letter-spacing: -3.6px;
    }
    &-video{
       & a{
        border-radius: 100%;
        border: 2px solid #fff;
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0px 0px 30px 0px rgba(17, 17, 45, 0.10);
        backdrop-filter: blur(5px);
        height: 90px;
        width: 90px;
        display: inline-block;
        line-height: 102px;
        text-align: center;
       }
    }
    &-shape{
        &-1{
            top: 40%;
            left: 7.5%;
        }
        &-2{
            bottom: 20%;
            left: 6%;
        }
        &-down{
            bottom: 0px;
        }
    }
}