@use '../../utils/' as *;


.tp-services{
    border-radius: 16px 16px 0px 0px;
    padding: 50px 15px;
    border-bottom: 4px solid #f55;
    @include tp-transition(.3s);
    &__icon{

    }
    &__title{
        font-size: 24px;
    }
    &-margin{
        margin-top: -140px;
    }
    &:hover{
        transform: translateY(-10px);
        box-shadow: 0px 20px 60px 0px rgba(41, 28, 3, 0.10);
    }
}