@use '../../utils/' as *;

.tp-author-shape{
    & img{   
        border: 2px solid #FFF;
        box-shadow: 0px 10px 30px 0px rgba(18, 16, 24, 0.20);
        border-radius: 50%;
    }
    &-1{
        left: 16%;
        top: 42%;
    }
    &-2{
        left: 25%;
        top: 12%;
    }
    &-3{
        left: 47%;
        top: 8%;
    }
    &-4{
        left: 28%;
        bottom: 22%;
    }
    &-5{
        left: 50%;
        bottom: 34%;
    }
    &-6{
        right: 30%;
        top: 30%;
    }
    &-7{
        right: 24%;
        top: 8%;
    }
    &-8{
        right: 9%;
        top: 24%;
    }
    &-9{
        right: 8%;
        bottom: 17%;
    }
}
